<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active">CreateApp</li>
    </ul>
    <div style="float: right; margin-top: -27px; margin-right: 10px;"><a ng-click="logout();">Logout</a></div>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-8 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    FoodQ
                </h4>
                        <div class="space-16"></div>
                        UID: {{uid}}
                        <br/>NAME: {{name}}
                        <br/>E-MAIL: {{email}}
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->