<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Make Transaction</li>
    </ul>
    <div style="float: right; margin-top: -27px; margin-right: 10px;"><a ng-click="navigateToDashboard();" style="margin-right:15px;">Dashboard</a> <a ng-click="addAccount();">Add Account</a></div>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <br/>
                        <br/>
                        <form name="transactionForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="name">From</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <select class="form-control" ng-model="from" required>
                                            <option value="">Select From</option>
                                            <option ng-repeat="user in userList" value="{{user.id}}">{{user.name}}</option>
                                        </select>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">To</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <select class="form-control" ng-model="to" required>
                                            <option value="">Select To</option>
                                            <option ng-repeat="user in userList" value="{{user.id}}">{{user.name}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>                           
                            
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="phone">Amount</label>
                                <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Amount" ng-model="amount" required/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="makeTransaction(transactionForm.$valid)" data-ng-disabled="transactionForm.$invalid">
                                        Transfer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->